.container {
  display: flex;
  flex-direction: column;
  height: 130rem;
  justify-content: left;
  align-items: center;
}
.img {
  content: "";
  position: absolute;
  height: 90%;
  top: 0px;
  left: 0px;
  width: 120%;
  /* z-index: -1; */
  /* opacity: 0.89; */
}
