.containers {
  display: flex;
  flex-direction: column;
  height: 250rem;
  justify-content: left;
  align-items: center;
  font-size: 2rem;
}
.containerall {
  display: flex;
  flex-direction: column;
  height: 800rem;
  margin-top: 56rem;
  margin-left: 4rem;
  width: 90%;
  box-shadow: 0 0 7px rgba(75, 75, 75, 1);
}
.card-mediamenu img {
  height: 60%;
  width: 90%;
  z-index: -1;
  opacity: 0.89;
}
.card-authormenu {
  color: #d70f64;
  font-size: 2rem;
  /* box-shadow: 0 0 7px rgba(75, 75, 75, 0.07); */
}
