.footer {
  margin-top: 15rem;
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: #d70f64;
}

.footer > * {
  flex: 1 100%;
}

.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

h2 {
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
  /*  eslint-disable-next-line */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}
.footer p {
  font-size: 2rem;
}

.r-footer {
  display: flex;
  flex-flow: row wrap;
}

.r-footer > * {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex: 3 50%;

  padding-left: 2rem;
  margin-right: 1.25em;
}

.box a {
  color: white;
}

.h-box {
  column-count: 2;
  column-gap: 1.25em;
}

.b-footer {
  text-align: center;
  color: #999;
  padding-top: 50px;
}

.l-footer p {
  padding-right: 20%;
  color: #999;
}
.hello {
  display: flex;
  flex-direction: row;
  font-size: larger;
}
@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }

  .features {
    flex-grow: 2;
  }

  .l-footer {
    flex: 1 0px;
  }

  .r-footer {
    flex: 2 0px;
  }
}
